= render partial: "header"

/ ---------------main-----------------
#main
  .main-bar
    =image_tag('create-bar.png',:height => "80", :width => "850")
  .input-data
    .input-title
      .float-left
        基礎データの入力（１／４）
    .clear
    .description
      ※この基礎データはマイページから変更出来ます

    = form_for @contest, url: {action: "create"} do |f|

      .user-contents
        .form-group
          %label
            コンテスト名
            = f.text_field :name
        .form-group
          %label
            コンテストの説明文
            = f.text_field :article




      .user-contents
        %table
          %tr
            %th 動画のレイアウト
            %th
              =radio_button("contest", "layout","3",{:checked=>true})
              ３列ずつ
            %th
              =radio_button("contest", "layout","4",)
              ４列ずつ
          %tr
            %th 投稿者
            %th
              =radio_button("contest", "writer","true",{:checked=>true})
              表示
            %th
              =radio_button("contest", "writer","false")
              非表示
          %tr
            %th コンテストのプライバシー
            %th
              =radio_button("contest", "scope","false",{:checked=>true})
              限定公開
            %th
              =radio_button("contest", "scope","true")
              公開

      .next-button
        .btn.btn-warning
          =f.submit(["次へ進む"])



        -#=link_to "次へ進む", "/contests/#{@contest.id}/movie"


/ ------------------------------------

= render partial: "footer"
